<div
  class="tw-w-80 tw-h-[100vh] tw-shadow-inner tw-shadow-[#354463] tw-bg-[#276dbe8f] tw-text-white"
>
  <div class="tw-flex tw-flex-col">
    <div class="tw-flex tw-flex-col tw-flex-nowrap tw-items-center">
      <img
        class="tw-w-[120px] tw-h-[115px] tw-rounded-[60px] tw-shadow-md tw-shadow-[#354463] tw-my-6"
        src="/assets/images/me.png"
        alt="my-image"
      />
      <h4>Senior / Lead Full Stack Developer</h4>
    </div>
    <div>
      <p></p>
    </div>
  </div>
</div>
